@page
@model CincyClean.Pages.Cleaners.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cleaner[0].CleanerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cleaner) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CleanerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CleanerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CleanerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CleanerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
