@page
@model CincyClean.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center bottom-margin-sm">
    <h1>Adjust or View Cleaning Requests</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Cleaner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Request) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cleaner.CleanerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RequestId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
